html {
    position: relative;
    width: 1440px;
    height: 1024px;
}

header {
    position: relative;
    width: 1440px;
    height: 164px;
    left: 0px;
    top: 0px;
    bottom: 849px;
}

body {
    position: relative;
    width: 1440px;
    height: 724px;
    left: 0px;
    top: 150;
    bottom: 150;
}

footer {
    position: relative;
    width: 1440px;
    height: 145px;
    left: 0px;
    top: 715px;
    bottom: 0;
    background-color: #646392;
}

.住宿介紹按鈕 {
    position: absolute;
    width: 173.4px;
    height: 49.88px;
    left: 121px;
    top: 248px;
}

.行程介紹按鈕 {
    position: absolute;
    width: 173.4px;
    height: 49.88px;
    left: 121px;
    top: 387px;
}

.右上角快捷鍵屬性 {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.會員登入_text {
    position: absolute;
    left: 701px;
    top: 72 px;
    bottom: 61.74;
}

.會員註冊_text {
    position: absolute;
    left: 821px;
    top: 72 px;
    bottom: 61.74;
}

.紅利查詢_text {
    position: absolute;
    left: 933px;
    top: 72 px;
    bottom: 61.74;
}

.購物車_text {
    position: absolute;
    left: 1059px;
    top: 72 px;
    bottom: 61.74;
}

.收藏清單_text {
    position: absolute;
    left: 1156.86px;
    top: 72 px;
    bottom: 61.74;
}

.反詐騙須知_text {
    position: absolute;
    left: 1280.01px;
    top: 72 px;
    bottom: 61.74;
}

.sun_top {
    position: absolute;
    left: 22;
    top: 32;
}

.sun_top_text {
    position: absolute;
    left: 131;
    top: 51.79;
    bottom: 36.63;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.sun_bottom {
    position: absolute;
    width: 119px;
    height: 119px;
    top: 9px;
    left: 53px;
}

.sun_bottom_text {
    top: 13;
    left: 163;
    position: absolute;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.sun_bottom_text_day {
    top: 77;
    left: 163;
    position: absolute;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.sun_bottom_text_detail {
    top: 0;
    left: 368;
    position: absolute;
    font-family: 'Actor';
    font-style: normal;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.facebook_icon {
    position: absolute;
    top: 17px;
    left: 1099px;
}

.facebook_text {
    position: absolute;
    top: 91px;
    left: 1105px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.line_icon {
    position: absolute;
    top: 17px;
    left: 1183px;
}

.line_text {
    position: absolute;
    top: 91px;
    left: 1205px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.instagram_icon {
    position: absolute;
    top: 17px;
    left: 1267px;
}

.instagram_text {
    position: absolute;
    top: 91px;
    left: 1270px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.youtube_icon {
    position: absolute;
    top: 17px;
    left: 1340px;
}

.youtube_text {
    position: absolute;
    top: 91px;
    left: 1351px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

div.title1 {
    position: absolute;
    width: 154.1;
    height: 38.88;
    left: 244;
    top: 183;
}

div.title2 {
    position: absolute;
    width: 154.01;
    height: 38.88;
    left: 244;
    top: 529;
}

h1.title1_text {
    position: absolute;
    width: 158.4;
    height: 30;
    left: 260;
    top: 156;
}

div.collect1 {
    position: absolute;
    width: 200;
    height: 200;
    left: 257;
    top: 247;
}

h2.collect1_text {
    position: absolute;
    width: 200;
    height: 55;
    left: 260;
    top: 456;
    text-align: center
}

div.collect2 {
    position: absolute;
    width: 200;
    height: 200;
    left: 471;
    top: 247;
}

h2.collect2_text {
    position: absolute;
    width: 200;
    height: 55;
    left: 472;
    top: 456;
    text-align: center
}

div.collect3 {
    position: absolute;
    width: 200;
    height: 200;
    left: 687;
    top: 247;
}

h2.collect3_text {
    position: absolute;
    width: 200;
    height: 55;
    left: 687;
    top: 456;
    text-align: center
}

div.collect4 {
    position: absolute;
    width: 200;
    height: 55;
    left: 902;
    top: 247;
    text-align: center
}

h2.collect4_text {
    position: absolute;
    width: 200;
    height: 55;
    left: 902;
    top: 456;
    text-align: center
}

h1.title2_text {
    position: absolute;
    width: 158.4;
    height: 30;
    left: 260;
    top: 512;
}

div.collect5 {
    position: absolute;
    width: 200;
    height: 200;
    left: 257;
    top: 588;
}

h2.collect5_text {
    position: absolute;
    width: 200;
    height: 55;
    left: 257;
    top: 792;
    text-align: center
}

div.collect6 {
    position: absolute;
    width: 200;
    height: 200;
    left: 472;
    top: 588;
}

h2.collect6_text {
    position: absolute;
    width: 200;
    height: 55;
    left: 472;
    top: 792;
    text-align: center
}

div.collect7 {
    position: absolute;
    width: 200;
    height: 200;
    left: 687;
    top: 588;
}

h2.collect7_text {
    position: absolute;
    width: 200;
    height: 55;
    left: 687;
    top: 792;
    text-align: center
}

div.collect8 {
    position: absolute;
    width: 200;
    height: 200;
    left: 902;
    top: 588;
}

h2.collect8_text {
    position: absolute;
    width: 200;
    height: 55;
    left: 902;
    top: 792;
    text-align: center
}

div.dot1 {
    position: absolute;
    width: 50;
    height: 50;
    left: 1142;
    top: 322;
}

div.dot2 {
    position: absolute;
    width: 50;
    height: 50;
    left: 1142;
    top: 664;
}