html {
    position: relative;
    width: 1440px;
    height: 1024px;
}

header {
    position: relative;
    width: 1440px;
    height: 164px;
    left: 0px;
    top: 0px;
    bottom: 849px;
}

body {
    position: relative;
    width: 1440px;
    height: 724px;
    left: 0px;
    top: 150;
    bottom: 150;
}

div.register {
    position: absolute;
    width: 622px;
    height: 237.2px;
    left: 409px;
    top: 367.8px;
    border: 2px solid black;
    border-radius: 20px;
    /*
    
    padding: 15px 25px;
    
    */
}

h2.member {
    position: absolute;
    width: 142px;
    height: 27.41px;
    left: 410px;
    top: 300px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
}

.email_text {
    position: absolute;
    width: 124px;
    height: 22.68px;
    left: 437px;
    top: 373px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}

.email_text_box {
    position: absolute;
    width: 198px;
    height: 22.68px;
    left: 561px;
    top: 396px;
}

.member_password {
    position: absolute;
    width: 124px;
    height: 22.68px;
    left: 437px;
    top: 424.03px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}

.member_password_box {
    position: absolute;
    width: 180px;
    height: 22.68px;
    left: 561px;
    top: 449.09px;
}

.verification_code {
    position: absolute;
    width: 101px;
    height: 29.3px;
    left: 437px;
    top: 470.34px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #000000;
}

.verification_code_box {
    position: absolute;
    width: 73px;
    height: 23.63px;
    left: 528px;
    top: 500px;
}

.button {
    position: absolute;
    width: 129px;
    height: 45px;
    left: 886px;
    top: 543px;
    cursor: pointer;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-family: 微軟正黑體;
    background: #24386a;
    text-decoration: none;
}

.verification {
    position: absolute;
    width: 93px;
    height: 38.53px;
    left: 732px;
    top: 492px;
}

.remember_me_box {
    position: absolute;
    width: 12px;
    height: 11.34px;
    left: 437px;
    top: 553px;
}

.remember_me_text {
    position: absolute;
    height: 22.68px;
    left: 459px;
    top: 539px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}

.Forgot_password_Text {
    position: absolute;
    width: 96px;
    height: 22.68px;
    left: 528px;
    top: 552px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.Register_Account_Text {
    position: absolute;
    width: 96px;
    height: 22.68px;
    left: 624px;
    top: 552px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.image_line {
    position: absolute;
    width: 73px;
    height: 74px;
    left: 595px;
    top: 683px;
    /*
    position: absolute;
    top: 630px;
    left: 600px;
    width: 75px;
    height: 75px;
    */
}

.image_facebook {
    position: absolute;
    width: 74px;
    height: 74px;
    left: 772px;
    top: 683px;
    /*
    position: absolute;
    top: 630px;
    left: 691px;
    width: 75px;
    height: 75px;
    */
}

.image_google {
    position: absolute;
    width: 74px;
    height: 74px;
    left: 683px;
    top: 683px;
    /*
    position: absolute;
    top: 630px;
    right: 580px;
    width: 75px;
    height: 75px;
    */
}

h3.or {
    position: absolute;
    width: 75.62px;
    height: 30.25px;
    left: 712px;
    top: 635px;
    font-weight: 400;
    font-size: 20px;
}

hr.left {
    position: absolute;
    width: 209.84px;
    height: 0px;
    left: 426px;
    top: 656.12px;
    border: 3px solid #000000;
    /*
    position: absolute;
    top: 600px;
    left: 370px;
    */
}

hr.right {
    position: absolute;
    width: 209.84px;
    height: 0px;
    left: 805.03px;
    top: 656.12px;
    border: 3px solid #000000;
    /*
    position: absolute;
    top: 600px;
    right: 350px;
    */
}

footer {
    position: relative;
    width: 1440px;
    height: 145px;
    left: 0px;
    top: 715px;
    bottom: 0;
    background-color: #646392;
}

.右上角快捷鍵屬性 {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.會員登入_text {
    position: absolute;
    left: 701px;
    top: 72 px;
    bottom: 61.74;
}

.會員註冊_text {
    position: absolute;
    left: 821px;
    top: 72 px;
    bottom: 61.74;
}

.紅利查詢_text {
    position: absolute;
    left: 933px;
    top: 72 px;
    bottom: 61.74;
}

.購物車_text {
    position: absolute;
    left: 1059px;
    top: 72 px;
    bottom: 61.74;
}

.收藏清單_text {
    position: absolute;
    left: 1156.86px;
    top: 72 px;
    bottom: 61.74;
}

.反詐騙須知_text {
    position: absolute;
    left: 1280.01px;
    top: 72 px;
    bottom: 61.74;
}

.sun_top {
    position: absolute;
    left: 22;
    top: 32;
}

.sun_top_text {
    position: absolute;
    left: 131;
    top: 51.79;
    bottom: 36.63;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.sun_bottom {
    position: absolute;
    width: 119px;
    height: 119px;
    top: 9px;
    left: 53px;
}

.sun_bottom_text {
    top: 13;
    left: 163;
    position: absolute;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.sun_bottom_text_day {
    top: 77;
    left: 163;
    position: absolute;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.sun_bottom_text_detail {
    top: 0;
    left: 368;
    position: absolute;
    font-family: 'Actor';
    font-style: normal;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.facebook_icon {
    position: absolute;
    top: 17px;
    left: 1099px;
}

.facebook_text {
    position: absolute;
    top: 91px;
    left: 1105px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.line_icon {
    position: absolute;
    top: 17px;
    left: 1183px;
}

.line_text {
    position: absolute;
    top: 91px;
    left: 1205px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.instagram_icon {
    position: absolute;
    top: 17px;
    left: 1267px;
}

.instagram_text {
    position: absolute;
    top: 91px;
    left: 1270px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.youtube_icon {
    position: absolute;
    top: 17px;
    left: 1340px;
}

.youtube_text {
    position: absolute;
    top: 91px;
    left: 1351px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}