html {
    position: relative;
    width: 1440px;
    height: 1024px;
}

header {
    position: relative;
    width: 1440px;
    height: 164px;
    left: 0px;
    top: 0px;
    bottom: 849px;
}

body {
    position: relative;
    width: 1440px;
    height: 724px;
    left: 0px;
    top: 150;
    bottom: 150;
}

footer {
    position: relative;
    width: 1440px;
    height: 145px;
    left: 0px;
    top: 510px;
    bottom: 0;
    background-color: #646392;
}

.右上角快捷鍵屬性 {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.會員登入_text {
    position: absolute;
    left: 701px;
    bottom: 600.74px;
}

.會員註冊_text {
    position: absolute;
    left: 821px;
    bottom: 600.74;
}

.紅利查詢_text {
    position: absolute;
    left: 933px;
    bottom: 600.74;
}

.購物車_text {
    position: absolute;
    left: 1059px;
    bottom: 600.74;
}

.收藏清單_text {
    position: absolute;
    left: 1156.86px;
    bottom: 600.74;
}

.反詐騙須知_text {
    position: absolute;
    left: 1280.01px;
    bottom: 600.74;
}

.sun_top {
    position: absolute;
    left: 22;
    top: 32;
}

.sun_top_text {
    position: absolute;
    left: 135;
    top: 25.79;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.sun_bottom {
    position: absolute;
    width: 119px;
    height: 119px;
    top: 9px;
    left: 53px;
}

.sun_bottom_text {
    top: 13;
    left: 163;
    position: absolute;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.sun_bottom_text_day {
    top: 77;
    left: 163;
    position: absolute;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.sun_bottom_text_detail {
    top: 0;
    left: 368;
    position: absolute;
    font-family: 'Actor';
    font-style: normal;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.facebook_icon {
    position: absolute;
    top: 17px;
    left: 1099px;
}

.facebook_text {
    position: absolute;
    top: 91px;
    left: 1105px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.line_icon {
    position: absolute;
    top: 17px;
    left: 1183px;
}

.line_text {
    position: absolute;
    top: 91px;
    left: 1205px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.instagram_icon {
    position: absolute;
    top: 17px;
    left: 1267px;
}

.instagram_text {
    position: absolute;
    top: 91px;
    left: 1270px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.youtube_icon {
    position: absolute;
    top: 17px;
    left: 1340px;
}

.youtube_text {
    position: absolute;
    top: 91px;
    left: 1351px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

h1.choose {
    padding-left: 120px;
}

div.checkout {
    border-style: solid;
    margin-top: 20px;
    margin-left: 110px;
    margin-right: 130px;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
}

div.one {
    margin-left: 20px;
    margin-top: 10px;
}

div.two {
    margin-left: 20px;
    margin-top: 10px;
}

div.three {
    margin-left: 20px;
    margin-top: 10px;
}

div.pay1 {
    margin-top: 40px;
    margin-left: 100px;
}

div.name {
    margin-left: 20px;
}

div.line19 {
    margin-left: 20px;
}

.button {
    margin-left: 1050px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-family: 微軟正黑體;
    background: #24386a;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
}