html {
    position: relative;
    width: 1440px;
    height: 1024px;
}

header {
    position: relative;
    width: 1440px;
    height: 164px;
    left: 0px;
    top: 0px;
    bottom: 849px;
}

body {
    position: relative;
    width: 1440px;
    height: 724px;
    left: 0px;
    top: 150;
    bottom: 150;
}

footer {
    position: relative;
    width: 1440px;
    height: 145px;
    left: 0px;
    top: 510px;
    bottom: 0;
    background-color: #646392;
}

.右上角快捷鍵屬性 {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.會員登入_text {
    position: absolute;
    left: 701px;
    bottom: 600.74px;
}

.會員註冊_text {
    position: absolute;
    left: 821px;
    bottom: 600.74;
}

.紅利查詢_text {
    position: absolute;
    left: 933px;
    bottom: 600.74;
}

.購物車_text {
    position: absolute;
    left: 1059px;
    bottom: 600.74;
}

.收藏清單_text {
    position: absolute;
    left: 1156.86px;
    bottom: 600.74;
}

.反詐騙須知_text {
    position: absolute;
    left: 1280.01px;
    bottom: 600.74;
}

.sun_top {
    position: absolute;
    left: 22;
    top: 32;
}

.sun_top_text {
    position: absolute;
    left: 135;
    top: 25.79;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.sun_bottom {
    position: absolute;
    width: 119px;
    height: 119px;
    top: 9px;
    left: 53px;
}

.sun_bottom_text {
    top: 13;
    left: 163;
    position: absolute;
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.sun_bottom_text_day {
    top: 77;
    left: 163;
    position: absolute;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.sun_bottom_text_detail {
    top: 0;
    left: 368;
    position: absolute;
    font-family: 'Actor';
    font-style: normal;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.facebook_icon {
    position: absolute;
    top: 17px;
    left: 1099px;
}

.facebook_text {
    position: absolute;
    top: 91px;
    left: 1105px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.line_icon {
    position: absolute;
    top: 17px;
    left: 1183px;
}

.line_text {
    position: absolute;
    top: 91px;
    left: 1205px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.instagram_icon {
    position: absolute;
    top: 17px;
    left: 1267px;
}

.instagram_text {
    position: absolute;
    top: 91px;
    left: 1270px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.youtube_icon {
    position: absolute;
    top: 17px;
    left: 1340px;
}

.youtube_text {
    position: absolute;
    top: 91px;
    left: 1351px;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

div.title1 {
    margin-left: 235px;
}

div.title2 {
    margin-left: 235px;
}

h1.title1_text {
    margin-top: -62px;
    margin-left: 255px;
}

div.collect1 {
    margin-left: 255px;
}

h2.collect1_text {
    margin-left: 270px;
}

div.collect2 {
    margin-top: -272px;
    margin-left: 470px;
}

h2.collect2_text {
    margin-top: 5px;
    margin-left: 495px;
}

h2.collect2_text1 {
    margin-top: -20px;
    margin-left: 522px;
}

div.collect3 {
    margin-top: -290px;
    margin-left: 685px;
}

h2.collect3_text {
    margin-left: 710px;
}

div.collect4 {
    margin-top: -272px;
    margin-left: 900px;
}

h2.collect4_text {
    margin-left: 935px;
}

h1.title2_text {
    margin-top: -62px;
    margin-left: 255px;
}

div.collect5 {
    margin-left: 255px;
}

h2.collect5_text {
    margin-left: 278px;
}

div.collect6 {
    margin-top: -272px;
    margin-left: 470px;
}

h2.collect6_text {
    margin-left: 470px;
}

div.collect7 {
    margin-top: -272px;
    margin-left: 685px;
}

h2.collect7_text {
    margin-top: 5px;
    margin-left: 710px;
}

h2.collect7_text1 {
    margin-top: -20px;
    margin-left: 737px;
}

div.collect8 {
    margin-top: -289px;
    margin-left: 900px;
}

h2.collect8_text {
    margin-top: 5px;
    margin-left: 925px;
}

h2.collect8_text1 {
    margin-top: -20px;
    margin-left: 965px;
}

div.dot1 {
    margin-top: -550px;
    margin-left: 1175px;
}

div.dot2 {
    margin-top: 275px;
    margin-left: 1175px;
}